@media only screen and (max-width: 930px) {
  #navbar nav a {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 0 0 10px;
  }
  #navbar nav {
    display: none;
    width: 100%;
  }
  #trigger-modal {
    display: block;
  }
}

@media only screen and (max-width: 1300px) {

    #header .dark { 
    width: 33.33%;
  }

  .background: url('../images/pico1.jpg'); {
    width: 100%;
    max-width: 100%;
    }

}